<div class="d-flex justify-content-between p-4 bg-dark" style="height: 14%;overflow: hidden;">
    <div class="flex-shrink-0">
      <!-- space for heading -->
    </div>
    <div class="d-flex align-items-center w-50">
      <div class="flex-grow-1 mx-5">
        <input type="text" class="form-control" placeholder="Search...">
      </div>
      <div class="flex-shrink-0 dropdown" (click)="toggleDropdown()">
        <i class="fa fa-bell fs-3 mx-4 text-white"></i>
        <i class="fa fa-user-circle fs-3 text-white dropdown-toggle" id="userDropdown"></i>
        <div class="dropdown-menu dropdown-menu-right" [class.show]="dropdownOpen" aria-labelledby="userDropdown">
          <button class="dropdown-item" type="button" (click)="logout()">Logout</button>
        </div>
      </div>
    </div>
  </div>
  
<div style="height: 86%;">
    <router-outlet>
    </router-outlet>

</div>