<div class="sidebar bg-dark p-3">
    <h2 style="color:white;">Sidebar</h2>
    <ul class="nav flex-column" style="margin-top:56px">
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="notes"  routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-wpforms"></i> Notes
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="sizes" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-bar-chart"></i> Sizes
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="bmi" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-heart"></i> BMI
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="plans" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-toggle-right"></i> Plans
              </h5>
            </a>
          </div>
        </li>
      </ul>
      
</div>