<div class="sidebar bg-dark p-3">
    <h3 class="pt-4" style="color:white;">Application</h3>
    <ul class="nav flex-column" style="margin-top:56px">
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="notes"  routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-book"></i> <span class="hide-on-small"> Notes</span>
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="sizes" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-bar-chart"></i> <span class="hide-on-small"> Sizes</span>
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="bmi" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-heart"></i> <span class="hide-on-small"> BMI</span>
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="plans" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-toggle-right"></i> <span class="hide-on-small"> Plans</span>
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="programs" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-plus"></i> <span class="hide-on-small"> Programs</span>
              </h5>
            </a>
          </div>
        </li>
        <li class="nav-item">
          <div class="card mb-3">
            <a class="nav-link card-body text-white" routerLink="clients" routerLinkActive="active">
              <h5 class="card-title m-0">
                <i class="fa fa-users"></i> <span class="hide-on-small"> Clients</span>
              </h5>
            </a>
          </div>
        </li>
      </ul>
      
</div>